.btn{
    appearance: none;
    background-color: rgb(110, 91, 196);
    
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px 20px;
    border: none;
}
.list{
    list-style: none;
    display: flex;
}
.list li{
    padding:0 15px;
    text-transform: capitalize;
}
.list li::selection{
    background-color: transparent;
}